<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
</head>
<body>
    <h1>Welcome to the My Food App!</h1>

    <a href="/foods/new">Add New Food</a>
    <a href="/foods">All Foods</a>
</body>
</html>